html,body{
    height: 100%;
}
$wrap:1200px;
.marg{
    margin: 0 auto;
}
.header,#nav,.main{
    width: $wrap;
    @extend .marg
}
//menu样式
#menu{
    min-height: 100%;
    width: 32px;
    position: fixed;
    right: 0;
    background: #eaeaea;
    z-index: 500;
    .menu_in{
        width: 100%;
        height: 400px;
        position: absolute;
        top: 50%;
        margin-top: -200px;
        a{
            display: block;
            position: relative;
            text-align: center;
            padding: 10px 0;
            border-bottom: 1px solid #ccc;
            &:hover{
                background:#C40000;
                span{
                    color: #fff;
                }
                .me-out{
                    left:-100px;
                    transform: scale(1);
                    transform-style: left center;
                    opacity: 1;
                }
            }
            span{
                font-size: 20px;
                color:#C70225;
            }
            .me-out{
                transition: 1s;
                opacity: 0;
                transform: scale(0);
                position: absolute;
                width: 100px;
                height:43px;
                background: #494949;
                top: 0;
                left:-122px;
                font-size: 12px;
                color: #fff;
                line-height: 43px;
                text-align: center;
            }
            b{
                position: absolute;
                height: 0;
                border-width: 10px;
                border-style: solid;
                border-color: transparent  transparent transparent #494949;
                right:-20px;
                top: 50%;
                margin-top: -10px;
            }
        }
        a:nth-of-type(6){
            top: 50px;
        }
    }
}
//头部样式
#head_wrap{
    background: #3e3a39;
    .header{
        height: 31px;
        background: #3E3A39;
        .h_left{
            position:relative;
            &:hover{
               .h-img{
                   transform: rotate(90deg);
               }
               span:nth-of-type(2){
                   transform: rotate(90deg);
               }
               i img{
                   display: block;
               }
            }
            color:#6d6b6a;
            padding-top: 8px;
            cursor: pointer;
            .h-img{
                width: 12px;
                float: left;
                transition: 1s;
            }
            i img{
                width: 210px;
                height: 210px;
                position: absolute;
                 top:31px;
                 display: none;
                 z-index: 11;
            }
            span{
                font-size: 12px;
                height: 12px;
                display: block;
                float: left;
                line-height: 12px;
                margin-left: 8px;
                 transition: 1s;
            }
            span:nth-of-type(2){
                   transform: rotate(-90deg);
               }
            float: left;
        }
        .h_right{
            float: right;
            font-size: 0;
            a{
                font-size:12px;
                color: #6d6b6a;
                border-right: 1px solid #737070;
                padding-right: 24px;
                margin-left: 24px;
                line-height: 31px;
                &:hover{
                    color: #8d8b8b;
                } 
            }
            span:first-child{
                font-size:12px;
                color: #6d6b6a;
                border-right: 1px solid #737070;
                padding-right: 24px;
                margin-left: 24px;
                line-height: 31px;
                padding-right: 4px;
                .lo{
                    color: #948e20;
                    margin:0 11px;
                    border:0;
                    padding-right: 0;
                    &:hover{
                        opacity: 0.6;
                    }
                }
                .rg{
                     margin-left:0;
                     padding: 0;
                     border: 0;
                     background: 0;
                    color: #948e20; 
                    &:hover{
                        opacity: 0.6;
                    }
                } 
            }
            a:last-child{
                border: none;
                background: url(../img/bj-icon.png) no-repeat left center;
                padding-left: 25px;
            }
        }
    }
}
//导航样式
#nav{
     .flag{
        background: url(../img/headb.jpg) no-repeat center;
        height: 80px;
       }
       .logo{
           height: 110px;
           .logo1{
               width: 188px;
               float: left;
               margin-top:40px;
           }
           .logo2{
               float: left;
               margin:30px  88px 0 61px ;
           }
           .logo_c{
               height: 110px;
               width: 445px;
               float: left;
               .logo_b{
                   float: left;
                  margin-top: 6px;
                   font-size: 12px;
                   height: 16px;
                   line-height: 16px;
                   a{
                       color: #ecbcbc;
                        border-right: 1px solid #eee;
                        padding: 0 8px;
                   }
                   a:nth-last-child{
                       border: 0;
                   }
               }
           }
           .s-cal{
               width: 139px;
               height: 34px;
               float:right;
               background: #f9f9f9;
               border: 1px solid #f2f2f2;
               margin: 34px 23px 0 0;
               background: url(../img/s_03.jpg) no-repeat 6px center;
               font-size: 12px;
               color: #b1a7a2;
               line-height: 34px;
               padding-left:36px;
               cursor: pointer;
               position: relative;
               span{
                   position: absolute;
                   left: 6px;
                   top: -18px;
                   height: 26px;
                   width: 24px;
                   border-radius: 50%;
                   background: #C40000;
                   opacity: 0.5;
                   color: #f1f1f1;
                   text-align: center;
                   line-height: 26px;
               }
           }
           .search{
               width: 442px;
               height: 33px;
               float: left;
               margin-top: 34px;
               border: 3px solid #c40000;
               border-right: 0;
               font-size: 12px;
               #txt{
                   height: 100%;
                   width: 350px;
                   border: none;
                   outline: none;
                   padding-left: 10px;
                   float: left;
                   input::-webkit-input-placeholder{
    color: #818181;
}
               }
               .sub{
                   height: 100%;
                   border: none;
                   outline: none;
                   width:82px ;
                   float: left;
                   background: #C40000;
                   color: #efb9b9;
                   cursor: pointer;
               }
           }
       }
    .navlist{
        height: 45px;
        .all{
            width: 185px;
            height: 100%;
            float:left;
            background: #cc0210;
            position: relative;
            &:hover .some{
                display: block;
            }
            .some{
                display: none;
                position: absolute;
                height: 470px;
                text-align: center;
                z-index: 10;
                li{
                    position: relative;
                    a{
                        display: block;
                        width: 185px;
                        height: 45px;
                        line-height: 45px;
                        color:#f2f2f2;
                        background:#c70225 url(../img/ax-icon.png) no-repeat 30px center;
                        &:hover{
                            background: #ECBCBC url(../img/ax-icon.png) no-repeat 30px center;
                        }
                    }
                    .someBox{
                        position: absolute;
                        border-top: 1px solid #A6A6A2;
                        height: 450px;
                        width:940px;
                        left: 185px;
                        top: 0;
                        background: #fff;
                        z-index: 20;
                        display: none;
                        padding:20px 30px 0 45px;
                        text-align: left;
                        .box1,.box2,.box3{
                            width: 600px;
                            margin-bottom: 50px;
                        }
                        img{
                            width: 270px;
                            height: 450px;
                        }
                        .span_wrap{
                            margin-top: 10px;
                            padding-top: 10px;
                            font-size: 0;
                            border-top: 1px solid #8D8B8B;
                            span{
                                font-size: 12px;
                                padding: 0 10px;
                                border-right: 1px solid #A6A6A2;
                            }
                            span:nth-child(6),span:nth-child(7){
                                border: none;
                            }
                        }
                    }
                }
            }
            p{
                text-align: center;
                line-height: 45px;
                color: #eeabaf;
                font-size: 16px;
                background: url(../img/ax-icon.png) no-repeat 30px center;
            }
        }
        .z-nav{
            float: left;
            li{
                float: left;
                a{  
                    display: block;
                    padding: 0 25px;
                    height: 45px;
                    line-height: 45px;
                    color: #a6a6a2;
                    &:hover{
                        color: #CC0210;
                    }
                }
                .last-a{
                    padding-right: 0;
                }
            }
            
        }
        img{
            float: right;
        }
    } 
}
//main
#main_wrap{
    background: #f6f4f5;
    .main{
        min-height: 50px;
        padding-top: 50px;
        background: #fff;
        .detail{
            height:auto;
            .de_left{
                width: 548px;
                padding: 20px 0 0 45px;
                float: left;
                .list{
                    width: 80px;
                    margin-right: 20px;
                    float: left;
                    li{
                        width: 72px;
                        height: 72px;
                        padding: 1px;
                        border: 1px solid #f9f9f9;
                        margin-bottom: 10px;
                        img{
                            width: 100%;
                        }
                    }
                }
                .small{
                    width: 420px;
                    height: 420px;
                    float: left;
                    border: 1px solid #F9F9F9;
                    overflow: hidden;
                    position: relative;
                    cursor:zoom-in;
                    .smallImg{
                        width: 100%;
                    }
                    .mask{
                        width: 280px;
                        height: 280px;
                        opacity: 0.5;
                        top: 0;
                        left: 0;
                        position: absolute;
                    }
                }
                .big{
                    display: none;
                    position: absolute;
                    width: 420px;
                    height: 420px;
                    top: 0;
                    left: 0;
                    .bigImg{
                        position: absolute;
                    }
                }
            }
            .de_right{
                width: 606px;
                float: left;
                padding-top: 22px;
                .title{
                    font-size: 16px;
                    line-height: 16px;
                    color: #000;
                    font-weight: 900;
                    margin-bottom: 10px;
                }
                .des{
                    font-size: 12px;
                    line-height: 19px;
                    color: #f0a5a6;
                }
                .price{
                    width: 520px;
                    height:70px;
                    padding: 27px 0 0 10px;
                    background: #f6f5f5;
                    margin-top: 10px;
                    p{
                        height: 22px;
                        margin-bottom: 17px;
                        font-size: 12px;
                        color: #b9b8b8;
                    }
                    p:nth-of-type(1){
                        em{
                            font-size: 18px;
                            color: #ce341b;
                            margin-left: 17px;
                        }
                    }
                    p:nth-of-type(2){
                        em{
                            display: inline-block;
                            width: 52px;
                            height: 21px;
                            line-height: 21px;
                            color: #fff;
                            background: #CE341B;
                            text-align: center;
                            margin-left: 5px;
                        }
                    }
                }
                .count{
                    height: 30px;
                    margin: 15px 0 19px 0;
                    p{
                        height: 30px;
                        line-height: 30px;
                        font-size: 12px;
                        color: #ccc;
                        float: left;
                        margin-right: 16px;
                    }
                    .b1{
                        float: left;
                        input{
                            width: 36px;
                            height: 28px;
                            border: 1px solid #ccc;
                            float: left;
                            text-align: center;
                        }
                        .b2{
                            float: left;
                            width: 20px;
                            height: 30px;
                            margin-left: 4px;
                            span{
                                cursor: pointer;
                                text-align: center;
                                display: block;
                                width: 18px;
                                line-height: 12px;
                                height: 12px;
                                border: 1px solid #ccc;
                            }
                            span:nth-of-type(1){
                                margin-bottom: 2px;
                            }
                        }
                    }
                }
                .money{
                    a{
                        float: left;
                        width: 179px;
                        height: 39px;
                        line-height: 39px;
                        border: 1px solid #C40000;
                        text-align: center;
                    }
                    .now{
                        background: #ffeeee;
                        color: #C40000;
                    }
                    .shopping{
                        background: #C40000;
                        color: #fff;
                        margin: 0 8px 0 6px;
                    }
                    h5{
                        float: left;
                        color: #b8b8b8;
                        height: 40px;
                        line-height: 40px;
                        padding-left: 25px;
                        font-size: 12px;
                        background:url(../detail/phone_03.jpg) no-repeat left center;
                    }
                }
            }
        }
        .share{
            width: 502px;
            padding-left: 46px;
            font-size: 12px;
            color: #b3b5b6;
            p{
                float: left;
                background: url(../detail/detailweibo_03.jpg) no-repeat right center;
                padding-right: 66px;
            }
            span{
                float: right;
            }
        }
    }
}
