body,html{
    width: 100%;
    height: 100%;
    background:#f2f2f2;
}
.marg{
    margin: 0 auto;
}
$w:970px;
.lab{
     width: 44px;
      padding-top: 20px;
     height: 33px;
      font-size: 12px;
      line-height: 12px;
     display: inline-block;
      margin-left:18px;
    color: #969696;
     vertical-align: middle;
}
.inp{
    width: 260px;
    height: 24px;
    line-height: 24px;
    padding-bottom: 3px;
    vertical-align: middle;
    text-indent: 20px;
    font-size: 12px;
}
//头部样式
#Top{
    height: 89px;
    border-bottom: 1px solid #e7e7e7;
    background: #fff;
    .top{
        width: $w;
        height: 100%;
        @extend .marg;
        padding-top: 20px;
        img{
            float: left;
        }
        .Tright{
            float: right;
            font-size: 12px;
            b{
                color: #8e8e8e;
                float: left;
                padding: 18px 0;
                .login{
                    float: none;
                    padding: 0;
                    margin: 0;
                    color: #a4b7cd;
                }
            }
            a{
                float: left;
                color: #000;
                padding: 18px 0;
            }
            a:nth-of-type(1){
                margin: 0 35px 0 11px;
            }
            a:nth-of-type(1) span{
                float: left;
                width: 18px;
                height: 17px;
                background:url(../loginImg/need_03.jpg) no-repeat center;
            }
            a:nth-of-type(2) span{
                float: left;
                width: 18px;
                height: 17px;
                background:url(../loginImg/inline_03.jpg) no-repeat center;
            }
        }
    }
}
#register{
    width: $w;
    @extend .marg;
    height: 566px;
    border: 6px solid #d7d7d7;
    margin-top: 24px;
    background: #fff;
    .r-left{
        width: 520px;
        padding: 0 40px;
        height: 100%;
        float: left;
        border-right: 1px solid #D7D7D7;
        .top1{
            width: 515px;
            @extend .marg;
            padding: 33px 0 26px 0;
            border-bottom: 1px solid #D7D7D7;
            p{
                font-size: 14px;
                line-height: 21px;
                color: #000;
                padding-left: 110px;
            }
            span{
                float: left;
                margin: 0 5px 0 89px;
                width: 15px;
                height: 24px;
                background: url(../registerImg/rephone_03.jpg) no-repeat;
            }
        }
        .bott{
            position: relative;
            img{
                position: absolute;
                top: -1px;
            }
        }
        .content{
            width: 350px;
            height: 387px;
            @extend .marg;
            margin-top: 28px;
            position: relative;
            .phone,.word,.again,.validate,.message,#yes{
                width: 348px;
                height: 52px;
                border: 1px solid #D7D7D7;
                margin-bottom: 12px;
                label{
                   @extend .lab;
                }
                input{
                    @extend .inp
                }
                strong{
                    position: absolute;
                    font-size: 12px;
                    right: 0;
                    height: 52px;
                    line-height: 52px;
                }
            }
            .word{
                margin-bottom: 0;
                label{
                    width: 56px;
                }
            }
            .again{
                margin-bottom: 0;
                border-top: 0;
                label{
                    width: 56px;
                }
            }
            .message{
                margin:20px 0 0  0;
                .messwrap{
                    float: left;
                }
                .spanwrap{
                    float: left;
                    padding-top: 10px;
                    .mes-c{
                        float: left;
                        line-height: 34px;
                        text-align: center;
                        color: #000;
                        width: 103px;
                        height: 34px;
                        border: 1px solid #D7D7D7;
                    }
                }
                #mesBtn{
                    padding: 0;
                    text-align: center;
                    height: 31px;
                    width: 76px;
                    text-indent: 0;
                    background: #fdfdfd;
                    border: 1px solid #f3f3f3;
                    color: #b7b7b7;
                    cursor: pointer;
                }
                span{
                    float: left;
                    width: 15px;
                    height: 24px;
                    background: url(../registerImg/rephone_03.jpg) no-repeat;
                    margin:5px 9px 0 24px;
                }
            }
            .validate{
                border: 0;
                margin:11px 0 0  0;
                .vali-wrap{
                    width: 168px;
                    height: 100%;
                    border: 1px solid #D7D7D7;
                    float: left;
                }
                 i{
                       float: left;
                       width: 120px;
                       height: 48px;
                       line-height: 48px;
                       margin: 0 4px 0 10px;
                       border: 3px solid #D7D7D7;
                       background: #000;
                       color: #fff;
                       text-align: center;
                    }
                    a{
                        float: left;
                        color: #8da6c1;
                        font-size: 12px;
                        height: 54px;
                        line-height: 54px;
                        cursor: pointer;
                    }
                input{
                    width: 100px;
                    text-indent: 0;
                }
            }
            .agree{
                font-size: 12px;
                line-height: 12px;
                color: #000;
                margin: 14px 0;
                em{
                    color: #bbc9da;
                }
            }
            #yes{
                background: #fc504e;
                color: #fff;
                border: 1px solid #C40000;
            }
        }
    }
    .r-right{
        padding: 83px 0 0 35px;
        float: left;
        width: 330px;
        height:483px
    }
}
.f1{
    position: relative;
}
.focus{
    border: 1px solid rgb(102,175,223);
    box-shadow: 0 0 5px rgba(102,175,223,1);
    color: rgba(169,68,66,1);
}
.error{
   box-shadow:0 0 5px rgba(169,68,66,1);
   border: 1px solid rgb(169,68,66);
   color: rgba(169,68,66,1);
}
.active{
    border:1px solid #3c763d;
    box-shadow: 0 0 5px #3c763d;
    color: #3c763d;
    z-index: 3;
}
